*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
.barreDeNavigation{
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    
}
.logo img{
    width: 150px;
    margin-left: 0px;
}
a img{
    width: 25px;
    margin-right: 20px;

}
/* . sections fix */

.fix{
    width: auto;
    height: 50px;
    background-color: #ffffff;
    padding-top: 30px;
}

/* . Fin sections fix */

/* . sections pub */

.pub{
    width: auto;
    height: 220px;
    background-color: #2C2D2A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pub img{
    width: 200px;
}

/* . Fin sections pub */


/* . sections article_un */
.article_un{
margin-top: 10px;
display: flex;
padding-left: 10px;

}
.article_un a {
    margin-right: 10px;
    background-color: #efefef;
    padding: 5px 13px;
    color: #000000;
    border-radius: 10px;
}

/* . Fin sections article_un */